#page.watch-medium #watch7-video, #page .watch-medium #watch7-video, #page .watch-medium #player {
	width: 1280px !important;
}

#page.watch-medium #watch7-player, #page .watch-medium #watch7-player, #page .watch-medium #player-api {
	width: 1280px !important;
	height: 750px !important;
	margin: 10px !important;
    margin-left: 70px !important;
}

.watch-medium #watch7-playlist-tray-container {
	height: 724px !important;
}
.watch-playlist-collapsed #watch7-playlist-tray-container {
	height: 0 !important;
}

.watch-medium .watch7-playlist-bar, .watch-medium #watch7-main {
	width: 1280px !important;
}

.watch-medium #watch7-sidebar, .watch-large #watch7-sidebar {
	width: 610px;
	max-width: 610px;
}

.watch-medium .watch-sidebar-body li, .watch-large .watch-sidebar-body li {
	display: inline-block;
	width: 300px;
}

.watch-medium #watch-more-related-button, .watch-large #watch-more-related-button {
	margin-left: 305px;
}


#watch-video.large #watch-player, #watch-video.medium #watch-player{
	height: 750px !important;
	margin: 0 auto !important;
}

#watch7-main.clearfix {
	margin-left: 0px !important;
  	width: 1280px !important;
}

#watch-video.medium, #watch-video.large, #watch-video.large #watch-player, #watch-video.medium #watch-player {
	width: 1280px !important;
}

#guide-container {
	display: none !important;
}

.site-left-aligned.guide-enabled #player, .site-left-aligned.guide-enabled #watch7-main-container {
	padding-left: auto !important;
  	padding-right: auto !important;
}

div#watch7-main-container {
	padding-left: 21% !important;
}

div#watch7-container.watch-wide {
	width: 1375px !important;
}

body>#body-container {
	margin-left: 0px !important;
}

div#yt-masthead-container {
	width: auto !important;
  	margin-left: 15.3% !important;
	margin-right: 17.8% !important;
}

watch7-content.watch-content {
	width: 900px !important;
}
div#footer-container.yt-base-gutter {
	margin-left: 15.3% !important;
	margin-right: 17.8% !important;
}